<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This Diabetes</title>

    <!-- initialization -->

    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="../public/css/clearfix.css">

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/reset.css">

    <!-- font icon from free website "fontawesome" -->
    <link rel="stylesheet" href="../public/css/font_icon6/css/all.css">

    <!-- css shared file for shiwong style -->
    <link rel="stylesheet" href="../public/css/patient_loginPageSharing.css">

    <link rel="icon" href="../favicon.ico">

</head>

<body>
    <div class="greyBackground">
        <div class="header">
            <a href="./index.html">
                <i class="fas fa-angle-left"></i>
            </a>
        </div>
        <div class="logo">
            <b>
                Diabetes@Home
            </b>
        </div>
        <!-- title -->
        <div class="aboutThisWebsite">
            <div>
                About&nbsp;
                <br>
                This&nbsp;
                <br>
                &nbsp;Website&nbsp;
            </div>
        </div>
        <div class="aboutThisWebsite_image">
            <img src="../public/image/pic_table.jpg" alt="">
        </div>
        <!-- some introduction about developer -->
        <div class="aboutThisWebsite_content">
            - This website is to help patient record their health data at home and it also helps clinicians to monitor
            their patients' health data. Meanwhile, the clinicians can give
            feedback quickly basic on the data.
            <a href="./index.html" class="bluelink">Login to access most of the features.</a>
            <br>
            - All five creators are from University of Melbourne and guided by the Tutor Mr. Steven Tang. This project
            totally costs over two monthes including UI designing, pages viewing and database conection.
        </div>
        <!-- footer with names -->
        <div class="aboutThisWebsite_creator">
            Creator: Zheren Huang | Quanying Lyu |
            <br>
            Chaowen Zeng | Jifan Wu | Yu Zhou
        </div>
    </div>
</body>

</html>