<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Keywords for searching -->
    <meta name="keywords"
        content="Diabetes, Diabetes@Home, diabetes, diabetes@home, DIABETES, DIABETES@HOME, diabetes hospital">
    <!-- the content description after searching -->
    <meta name="description" content="The login protal of Diabetes@Home">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes@Home Login</title>

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="../public/css/clearfix.css">

    <link rel="stylesheet" href="../public/css/font_icon6/css/all.css">

    <link rel="icon" href="../favicon.ico" icon="">

    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <main class="background">
        <div class="indexbox">
            <div class="monitorLogin">
                <div class="patientLogin">
                    <i class="fa-solid fa-hospital-user"></i>
                </div>
                <div class="doctorLogin">
                    <i class="fa-solid fa-user-nurse"></i>
                </div>
                <div class="patientBotton">
                    <!-- 加了a方便跳转和鼠标图标 -->
                    <div>
                        Patient
                    </div>
                </div>
                <div class="doctorBotton">
                    <div>
                    </div>
                </div>
            </div>
            <form class="movingForm forPatient" action="" method="post">
                <div class="loginfail">
                    Your Email or Password is wrong
                </div>
                <div class="logo">
                    <h1>
                        Diabetes
                        <br>
                        @Home
                    </h1>
                </div>
                <div class="login">
                    <input class="loginEmail" type="email" placeholder=" Email" required>
                    <input class="loginPassword" type="password" placeholder=" Password" required>
                    <input class="loginButton" type="submit" value="Login">
                </div>
            </form>
        </div>
    </main>
    <footer class="footerlinks">
        <span class="link">
            <a href="./about_diabetes.html">ABOUT THE DIABETES</a>
        </span>
        <span class="moniter">&nbsp;|&nbsp;</span>
        <span class="link">
            <a href="./about_this_website.html">ABOUT THIS WEBSITE</a>
        </span>
    </footer>
    
</body>

</html>