<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Keywords for searching -->
    <meta name="keywords"
        content="Diabetes, Diabetes@Home, diabetes, diabetes@home, DIABETES, DIABETES@HOME, diabetes hospital">
    <!-- the content description after searching -->
    <meta name="description" content="The login protal of Diabetes@Home">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes@Home Login</title>

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="/css/clearfix.css">

    <link rel="stylesheet" href="/css/font_icon6/css/all.css">

    <link rel="icon" href="../favicon.ico" icon="">

    <link rel="stylesheet" href="/css/index_client.css">
</head>

<body>
    {{{body}}}
</body>

</html>