<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/clearfix.css">
    <link rel="stylesheet" href="/css/font_icon6/css/all.css">

    <link rel="stylesheet" href="/css/client_sidemenu.css">
    <link rel="stylesheet" href="/css/client_head_name.css">
    <link rel="stylesheet" href="/css/client_setting.css">

    <link rel="icon" href="/../favicon.ico">


</head>

<body>
    {{{body}}}
</body>

</html>