<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecordData</title>

    <!-- initialization -->

    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="/css/clearfix.css">

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">


    <!-- font icon from free website "fontawesome" -->
    <link href="/css/font_icon6/css/all.css" rel="stylesheet">


    <link rel="stylesheet" href="/css/patient_gradientBackgroud.css">
    <link rel="stylesheet" href="/css/patient_record_datas.css">

    <link rel="icon" href="../favicon.ico">

</head>

<body>
    <div class="gradientBackgroud">
        {{!-- linked to the record page --}}
        <div class="returnbutton">
            {{#with patient}}
            <a href="/patient/{{this._id}}/record">
                {{/with}}
                <b>
                    <i class="fas fa-angle-left"></i>
                </b>
            </a>
        </div>
        {{!-- linked to the home page --}}
        <div class="logo">
            {{#with patient}}
            <a href="/patient/{{this._id}}/homepage">
                {{/with}}
                <b>
                    Diabetes@Home
                </b>
            </a>
        </div>
          <div class="colorscheme">
            <!-- change customer light mode and dark mode -->
            <a href="">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
        </div>
        {{!-- show today's date --}} 
        <div class="date">
            {{#with date}}
                <span> {{this}}</span>
            {{/with}}
        </div>
        {{{body}}}

    </div>
</body>

</html>