<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResetPassword</title>
    <!-- initialization -->

    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="/css/clearfix.css">

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">


    <!-- font icon from free website "fontawesome" -->
    <link rel="stylesheet" href="/css/font_icon6/css/all.css">


    <link rel="stylesheet" href="/css/patient_gradientBackgroud.css">
    <link rel="stylesheet" href="/css/patient_resetpassword.css">

    <link rel="icon" href="../favicon.ico">

</head>

<body>
        {{{body}}}
</body>

</html>