<div class="greyBackground">
    <div class="header">
        <a href="/patient">
            <i class="fas fa-angle-left"></i>
        </a>
    </div>
    <div class="logo">
        <b>
            Diabetes@Home
        </b>
    </div>
     <!-- title -->
    <div class="aboutThisWebsite">
        <div>
            About&nbsp;
            <br>
            This&nbsp;
            <br>
            &nbsp;Website&nbsp;
        </div>
    </div>
    <div class="aboutThisWebsite_image">
        <img src="/image/pic_table.jpg" alt="">
    </div>
    <!-- some introduction about developer -->
    <div class="aboutThisWebsite_content">
            - This website is to help patient record their health data at home and it also helps clinicians to monitor
            their patients' health data. Meanwhile, the clinicians can give
            feedback quickly basic on the data.
            <a href="./index.html" class="bluelink">Login to access most of the features.</a>
            <br>
            - All five creators are from University of Melbourne and guided by the Tutor Mr. Steven Tang. This project
            totally costs over two monthes including UI designing, pages viewing and database conection.
        </div>
        <!-- footer with names -->
        <div class="aboutThisWebsite_creator">
            Creator: Zheren Huang | Quanying Lyu |
            <br>
            Chaowen Zeng | Jifan Wu | Yu Zhou
        </div>
</div>