<div class="gradientBackgroud">
    {{#with patient}}
        <div class="returnbutton">
            <a href="/patient/{{this._id}}/personal_detail">
                <b>
                    <i class="fas fa-angle-left"></i>
                </b>
            </a>
        </div>
        <div class="logo">
            <a href="/patient/{{this._id}}/homepage">
                <b>
                    Diabetes@Home
                </b>
            </a>
        </div>
    {{/with}}
        <div class="colorscheme">
            <!-- change customer light mode and dark mode -->
            <a href="">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
        </div>
        {{#if message}}
        <div class="resetfail">
            {{message}}
        </div>
        <form action="" method="post">
        {{/if}}
        <form action="" method="post">
            <div class="currentPassword">
                Current Password
                <input type="password" name = "oldpass" required>
                New Password
                <input type="password" placeholder="Least 8 characters" name = "newpass"required>
                Confirm Password
                <input type="password" placeholder="Enter again" name="conpass" required>
                <input class="save" type="submit" value="Save">
            </div>
        </form>
    </div>