.mainbox {
  display: flex;
  margin-top: 80px;
}

.detailbox {
  width: 90%;
  height: 800px;
  margin: 0px auto;
  box-sizing: border-box;
}

.detailbox > img {
  width: 47%;
  height: 800px;
  float: right;
}

.detailbox > form {
  width: 53%;
  height: 800px;
  font-size: 35px;
}

.shortinput input {
  width: 85%;
  border-radius: 12px;
  margin-top: 20px;
  padding-left: 10px;
  border-color: black;
}

.shortinput {
  width: 50%;
  padding-bottom: 20px;
  height: 120px;
  float: left;
}

.longinput {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}

.longinput input {
  width: 60%;
  border-radius: 12px;
  margin-top: 15px;
  padding-left: 10px;
  border-color: black;
}

input {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.register {
  width: 35%;
  border-radius: 12px;
  float: right;
  background-color: rgb(76, 76, 76);
  color: white;
  margin-right: 6%;
  margin-top: 205px;
}

.register:hover {
  text-decoration: underline;
}
