<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalization</title>

    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/clearfix.css">
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">

    <link rel="stylesheet" href="../../public/css/client_sidemenu.css">
    <link rel="stylesheet" href="../../public/css/client_head_name.css">
    <link rel="stylesheet" href="../../public/css/client_personalization.css">

    <link rel="icon" href="../../favicon.ico">

</head>

<body>
    <!-- side menu with icons-->
    <div class="sidebar">
        <!-- the link to home page -->
        <a href="./client_dashboard.html">
            <div class="logo">
                <h3>
                    <b>
                        Diabetes
                        <br>
                        @Home
                    </b>
                </h3>
            </div>
        </a>
        <div class="sidemenu">
            <a href="./client_overview.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-house-chimney"></i></div>
                    <div class="sidetitlie">Overview</div>
                </div>
            </a>
            <a href="./client_patientdata.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-database"></i></div>
                    <div class="sidetitlie">Data</div>
                </div>
            </a>
            <a href="./client_personalization.html">
                <div class="bluebar">
                    <div class="sideicon"><i class="fa-solid fa-gear"></i></div>
                    <div class="sidetitlie">Personalization</div>
                </div>
            </a>
            <a href="./client_notes.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-paste"></i></div>
                    <div class="sidetitlie">Notes</div>
                </div>
            </a>
            <a href="./clinet_comment.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-comment"></i></div>
                    <div class="sidetitlie">Comments</div>
                </div>
            </a>
            <a href="./client_setting.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-user"></i></div>
                    <div class="sidetitlie">User Setting</div>
                </div>
            </a>
        </div>

    </div>
    <div class="headname">
        <div class="patientname">
            <h2>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiaomei Wang's Requirement
            </h2>
        </div>
        <div class="clientname">
            <!-- onclick -->
            <i class="fa-regular fa-bell"></i>&nbsp;&nbsp;Dr.Jay&nbsp;&nbsp;
        </div>
    </div>
    <form action="" method="post">
        <div class="mainbox">
            <div class="requirementbox">
                <div class="requirement_title">
                    <div>Data Type</div>
                    <div>Safe Range</div>
                </div>
                <!-- use different name attribute in the input to get the data -->
                <div class="bgl">
                    <input type="checkbox" class="checkbox">
                    <div class="title">
                        Blood Glucose Level
                    </div>
                    <input type="number" placeholder="nmol/L">
                    <span>~</span>
                    <input type="number" placeholder="nmol/L">
                </div>
                <div class="weight">
                    <input type="checkbox" class="checkbox" checked=true>
                    <div class="title">
                        Weight
                    </div>
                    <input type="number" placeholder="kg">
                    <span>~</span>
                    <input type="number" placeholder="kg">
                </div>
                <div class="dn">
                    <input type="checkbox" class="checkbox">
                    <div class="title">
                        Dose Number
                    </div>
                    <input type="number">
                    <span>~</span>
                    <input type="number">
                </div>
                <div class="exercise">
                    <input type="checkbox" class="checkbox">
                    <div class="title">
                        Exercise
                    </div>
                    <input type="number" placeholder="steps">
                    <span>~</span>
                    <input type="number" placeholder="steps">
                </div>
            </div>
        </div>
        <input type="submit" value="Save" class="save">
    </form>
</body>

</html>