<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>

    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/clearfix.css">
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">

    <link rel="stylesheet" href="../../public/css/client_sidemenu.css">
    <link rel="stylesheet" href="../../public/css/client_head_name.css">
    <link rel="stylesheet" href="../../public/css/client_patientdata.css">


    <link rel="icon" href="../../favicon.ico">
</head>

<body>
    <!-- side menu with icons-->
    <div class="sidebar">
        <!-- the link to home page -->
        <a href="./client_dashboard.html">
            <div class="logo">
                <h3>
                    <b>
                        Diabetes
                        <br>
                        @Home
                    </b>
                </h3>
            </div>
        </a>
        <div class="sidemenu">
            <a href="./client_overview.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-house-chimney"></i></div>
                    <div class="sidetitlie">Overview</div>
                </div>
            </a>
            <a href="./client_patientdata.html">
                <div class="bluebar">
                    <div class="sideicon"><i class="fa-solid fa-database"></i></div>
                    <div class="sidetitlie">Data</div>
                </div>
            </a>
            <a href="./client_personalization.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-gear"></i></div>
                    <div class="sidetitlie">Personalization</div>
                </div>
            </a>
            <a href="./client_notes.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-paste"></i></div>
                    <div class="sidetitlie">Notes</div>
                </div>
            </a>
            <a href="./clinet_comment.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-comment"></i></div>
                    <div class="sidetitlie">Comments</div>
                </div>
            </a>
            <a href="./client_setting.html">
                <div>
                    <div class="sideicon"><i class="fa-solid fa-user"></i></div>
                    <div class="sidetitlie">User Setting</div>
                </div>
            </a>
        </div>

    </div>
    <div class="headname">
        <div class="patientname">
            <h2>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiaomei Wang's Data
            </h2>
        </div>
        <div class="clientname">
            <!-- onclick -->
            <i class="fa-regular fa-bell"></i>&nbsp;&nbsp;Dr.Jay&nbsp;&nbsp;
        </div>
    </div>
    <div class="patientdata">
        <table class="datatable">
            <tr>
                <th>Date</th>
                <th>Blood Glucose Level</th>
                <th>Weight</th>
                <th>Dose Number</th>
                <th>Exercise</th>
            </tr>
            <tr>
                <td>Apr/2/2020</td>
                <td>24 nmol/L</td>
                <td>90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Apr/1/2020</td>
                <td>24 nmol/L</td>
                <td class="highlight">90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Sep/22/2019</td>
                <td>24 nmol/L</td>
                <td>90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Apr/22/2020</td>
                <td>24 nmol/L</td>
                <td>90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Apr/22/2020</td>
                <td>24 nmol/L</td>
                <td>90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Apr/22/2020</td>
                <td>24 nmol/L</td>
                <td>90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Apr/22/2020</td>
                <td>24 nmol/L</td>
                <td>90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Apr/22/2020</td>
                <td>24 nmol/L</td>
                <td>90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Apr/22/2020</td>
                <td>24 nmol/L</td>
                <td>90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Apr/22/2020</td>
                <td>24 nmol/L</td>
                <td>90 kg</td>
                <td>1</td>
                <td>10000 steps</td>
            </tr>
            <tr>
                <td>Sept/12/2022</td>
                <td>25 nmol/L</td>
                <td class="highlight">85 kg</td>
                <td>2</td>
                <td class="highlight">12000 steps</td>
            </tr>
        </table>
    </div>
</body>

</html>