<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overall Comments</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/clearfix.css">
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">

    <link rel="stylesheet" href="../../public/css/client_headerbar.css">
    <link rel="stylesheet" href="../../public/css/client_overall_comment.css">

    <link rel="icon" href="../../favicon.ico">

</head>

<body>
    <header class="headbar">
        <!-- link web iftself for refreshing -->
        <a href="./client_dashboard.html">
            <div class="logo">
                <h3>
                    <b>
                        Diabetes
                        <br>
                        @Home
                    </b>
                </h3>
            </div>
        </a>
        <div class="clientname">
            <h2>
                <b>
                    Client Name
                </b>
            </h2>
        </div>
        <!-- help new patient to register -->
        <div class="registration_headbar">
            <a href="./client_registration.html">
                <b>
                    Registration
                </b>
            </a>
        </div>
        <div class="comment_headbar">
            <a href="./client_overall_comment.html">
                <b>
                    Comment
                </b>
            </a>
        </div>
        <!-- any new message or emergency message -->
        <div class="bell">
            <a href="">
                <i class="fa-solid fa-bell"></i>
            </a>
        </div>
    </header>
    <main class="mainbox">
        <!-- searching by name -->
        <form action="" method="post" class="searching_form">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Name" class="name" autocomplete="off">
            <input type="submit" class="search_button" value="Search">
        </form>
        <div class="commentboard">
            <table>
                <tr>
                    <td>
                        <!-- go to patient page from onclike the name -->
                        <a href="./client_overview.html">Xiaomei Wang</a>
                        <Span>/Sep/21/2022</Span>
                        <div>
                            I am ok now.
                        </div>
                    </td>
                    <td>
                        <a href="./client_overview.html">Xiaomei Wang</a>
                        <Span>/Apr/21/2022</Span>
                        <div>
                            njag a e regerah qrq egqds etw qer we aerhaehr erhah aerh aeh eah etj rst j yr gnf rstj mow
                            mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow
                            mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow mow
                        </div>
                    </td>
                    <td>
                        <a href="./client_overview.html">Xiaomei Wang</a>
                        <Span>/Apr/01/2022</Span>
                        <div>
                            I feel pretty bad now, because I am too heavy to make any contribution of the ranking.
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </main>
</body>

</html>