<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/clearfix.css">
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">

    <link rel="stylesheet" href="../../public/css/client_headerbar.css">
    <link rel="stylesheet" href="../../public/css/client_registration.css">

    <link rel="icon" href="../../favicon.ico">

</head>

<body>
    <header class="headbar">
        <!-- link web iftself for refreshing -->
        <a href="./client_dashboard.html">
            <div class="logo">
                <h3>
                    <b>
                        Diabetes
                        <br>
                        @Home
                    </b>
                </h3>
            </div>
        </a>
        <div class="clientname">
            <h2>
                <b>
                    Client Name
                </b>
            </h2>
        </div>
        <!-- help new patient to register -->
        <div class="registration_headbar">
            <a href="./client_registration.html">
                <b>
                    Registration
                </b>
            </a>
        </div>
        <div class="comment_headbar">
            <a href="./client_overall_comment.html">
                <b>
                    Comment
                </b>
            </a>
        </div>
        <!-- any new message or emergency message -->
        <div class="bell">
            <a href="">
                <i class="fa-solid fa-bell"></i>
            </a>
        </div>
    </header>
    <main class="mainbox">
        <div class="detailbox">
            <img src="../../public/image/pic_washinghands.jpg" alt="">
            <form action="" method="psot">
                <div class="shortinput">
                    First Name
                    <input type="text">
                </div>
                <div class="shortinput">
                    Last Name
                    <input type="text">
                </div>
                <div class="shortinput">
                    Age
                    <input type="number">
                </div>
                <div class="shortinput">
                    Gender
                    <input type="text">
                </div>
                <div class="longinput">
                    Date of Birth
                    <br>
                    <input type="date">
                </div>
                <div class="longinput">
                    Email
                    <br>
                    <input type="email">
                </div>
                <input type="submit" value="Register" class="register">
            </form>
        </div>
    </main>
</body>

</html>