<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>

    <!-- initialization -->

    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="../../public/css/clearfix.css">

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/reset.css">


    <!-- font icon from free website "fontawesome" -->
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">


    <link rel="stylesheet" href="../../public/css/patient_gradientBackgroud.css">
    <link rel="stylesheet" href="../../public/css/patient_graph.css">

    <link rel="icon" href="../../favicon.ico">

</head>

<body>
    <div class="gradientBackgroud ">
        <div class="returnbutton">
            <a href="./patient_history.html">
                <b>
                    <i class="fas fa-angle-left"></i>
                </b>
            </a>
        </div>
        <div class="logo">
            <a href="./patient_homepage.html">
                <b>
                    Diabetes@Home
                </b>
            </a>
        </div>
        <div class="colorscheme">
            <!-- change customer light mode and dark mode -->
            <a href="">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
        </div>
        <div class="linechart">
            <div class="month">
                Apr/2021
            </div>
        </div>
        <div class="buttons">
            <a href="">
                <div class="leftbutton bgl">
                    Blood Glucose Level
                </div>
            </a>
            <a href="">
                <div class="rightbutton">
                    Weight
                </div>
            </a>
            <a href="">
                <div class="leftbutton">
                    Dose Number
                </div>
            </a>
            <a href="">
                <div class="rightbutton">
                    Exercise
                </div>
            </a>
        </div>
    </div>
</body>

</html>