<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>

    <!-- initialization -->

    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="../../public/css/clearfix.css">

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/reset.css">


    <!-- font icon from free website "fontawesome" -->
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">


    <link rel="stylesheet" href="../../public/css/patient_gradientBackgroud.css">
    <link rel="stylesheet" href="../../public/css/patient_history.css">

    <link rel="icon" href="../../favicon.ico">

</head>

<body>
    <div class="gradientBackgroud">
        <div class="returnbutton">
            <a href="./patient_homepage.html">
                <b>
                    <i class="fas fa-angle-left"></i>
                </b>
            </a>
        </div>
        <div class="logo">
            <a href="./patient_homepage.html">
                <b>
                    Diabetes@Home
                </b>
            </a>
        </div>
        <div class="colorscheme">
            <!-- change customer light mode and dark mode -->
            <a href="">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
        </div>
        <div class="searchingbar">
            <form action="" method="post">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="date" type="date">
                <input class="search_button" type="submit" value="Search">
                <div class="datatable">
                    <br>
                    <div>Blood Glucose Level:
                        <div><span class="highlight">12</span> nmol/L</div>
                    </div>
                    <div>Weight:
                        <div><span class="">90</span> kg</div>
                    </div>
                    <div>Dose Number:
                        <div><span class="highlight">0</span></div>
                    </div>
                    <div>Exercise:
                        <div><span class="">1234</span> steps</div>
                    </div>
                </div>
                <a href="./patient_graph.html">
                    <input class="graphview" type="button" value="Graph View">
                </a>
            </form>
        </div>
    </div>
</body>

</html>