<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Home Page</title>

    <!-- initialization -->

    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="../../public/css/clearfix.css">

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/reset.css">


    <!-- font icon from free website "fontawesome" -->
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">


    <link rel="stylesheet" href="../../public/css/patient_gradientBackgroud.css">
    <link rel="stylesheet" href="../../public/css/patient_homepage.css">

    <link rel="icon" href="../../favicon.ico">

</head>

<body>
    <div class="gradientBackgroud gradientBackgroud_dark">
        <div class="logo logo_dark">
            <b>
                Diabetes@Home
            </b>
        </div>
        <div class="colorscheme colorscheme_dark">
            <!-- change customer light mode and dark mode -->
            <a href="">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
        </div>
        <!-- name and the ranking medal -->
        <div class="nameHomepage">
            <b>
                <a href="./personal_detail.html" class="patientname_pages patientname_pages_dark">
                    Zhou Yu
                </a>
                <a href="">
                    <!-- <i class="fas fa-medal medalyellow"></i> -->
                    <i class="fas fa-medal medal medalgrey">
                        <div class="explain">
                            If your engagement rate is over 80%, it will become a golden medal.
                        </div>
                    </i>
                </a>
            </b>
        </div>
        <!-- button to pages -->
        <a href="./patient_record.html">
            <div class="dataHomepage">
                <b>
                    Record Data
                </b>
            </div>
        </a>
        <a href="./patient_history.html">
            <div class="historyHomepage">
                <b>
                    Record History
                </b>
            </div>
        </a>
        <a href="./patient_leaderboard.html">
            <div class="leaderboardHomepage">
                <b>
                    Leaderboard
                </b>
            </div>
        </a>
        <!-- message box writed from client -->
        <div class="messageboxHomepage">
            <div class="messageboxHomepage_title">
                <b>
                    Message Box
                </b>
            </div>
            <div class="messageboxHomepage_content">
                Happy birthday!!🥰
                <span class="messageboxHomepage_date">
                    /10/03/2022
                </span>
            </div>
        </div>
    </div>
</body>

</html>