<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>

    <!-- initialization -->

    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="../../public/css/clearfix.css">

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/reset.css">


    <!-- font icon from free website "fontawesome" -->
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">

    <link rel="stylesheet" href="../../public/css/patient_gradientBackgroud.css">
    <link rel="stylesheet" href="../../public/css/patient_leaderboard.css">

    <link rel="icon" href="../../favicon.ico">

</head>

<body>
    <div class="gradientBackgroud">
        <div class="returnbutton">
            <a href="./patient_homepage.html">
                <b>
                    <i class="fas fa-angle-left"></i>
                </b>
            </a>
        </div>
        <div class="logo">
            <a href="./patient_homepage.html">
                <b>
                    Diabetes@Home
                </b>
            </a>
        </div>
        <div class="colorscheme">
            <!-- change customer light mode and dark mode -->
            <a href="">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
        </div>
        <div class="rankingboard">
            <div class="rank">
                Rank
            </div>
            <div class="firstplace">
                <i class="fa-solid fa-crown gold"></i>
                <sapn class="rankname">Billy Jin</sapn>
                <span>100%</span>
            </div>
            <div class="secondplace">
                <i class="fa-solid fa-crown silver"></i>
                <sapn class="rankname">Xiaomei Wang</sapn>
                <span>99%</span>
            </div>
            <div class="thirdplace">
                <i class="fa-solid fa-crown copper"></i>
                <span class="rankname">Mars Bruno</span>
                <span>88%</span>
            </div>
            <div class="forthplace">
                <span>4.</span>
                <span class="rankname">Little Piggy</span>
                <span>85%</span>
            </div>
            <div class="fifthplace">
                <span>5.</span>
                <span class="rankname">Zhaosi Nicholas</span>
                <span>82%</span>
            </div>
            <div class="rank">
                You
            </div>
            <div class="yourplace">
                <span>99.</span>
                <span class="rankname">Thanos</span>
                <span>81%</span>
            </div>
        </div>
    </div>
</body>

</html>