<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Record</title>

    <!-- initialization -->

    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="../../public/css/clearfix.css">

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/reset.css">


    <!-- font icon from free website "fontawesome" -->
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">


    <link rel="stylesheet" href="../../public/css/patient_gradientBackgroud.css">
    <link rel="stylesheet" href="../../public/css/patient_record.css">

    <link rel="icon" href="../../favicon.ico">

</head>

<body>
    <!-- backgroud and the return buttom -->
    <div class="gradientBackgroud gradientBackgroud_dark">
        <div class="returnbutton returnbutton_dark">
            <a href="./patient_homepage.html">
                <b>
                    <i class="fas fa-angle-left"></i>
                </b>
            </a>
        </div>
        <div class="logo logo_dark">
            <a href="./patient_homepage.html">
                <b>
                    Diabetes@Home
                </b>
            </a>
        </div>
        <div class="colorscheme colorscheme_dark">
            <!-- change customer light mode and dark mode -->
            <a href="">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
        </div>
        <!-- patient name -->
        <div class="nameRecordpage">
            <b>
                <a href="./personal_detail.html" class="patientname_pages patientname_pages_dark">
                    Zhou Yu
                </a>
                <a href="">
                    <!-- <i class="fas fa-medal medalgrey"></i> -->
                    <i class="fas fa-medal medal medalyellow">
                        <div class="explain">
                            If your engagement rate is over 80%, it will become a golden medal.
                        </div>
                    </i>
                </a>
            </b>
        </div>
        <!-- four kinds of data record button -->
        <a href="./record_bloodgucoselevel.html">
            <div class="bloodglucoselevelRecordpage">
                <b>
                    Blood Glucose Level
                </b>
            </div>
        </a>
        <a href="./record_weight.html">
            <div class="weightRecordpage">
                <b>
                    Weight
                </b>
            </div>
        </a>
        <a href="./record_dosenumber.html">
            <div class="dosenumberRecordpage">
                <b>
                    Dose Number
                </b>
            </div>
        </a>
        <a href="./record_exercise.html">
            <div class="exerciseRecordpage">
                <b>
                    Exercise
                </b>
            </div>
        </a>
    </div>
</body>

</html>