<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResetPassword</title>
    <!-- initialization -->

    <!-- Height collapse problems solving -->
    <link rel="stylesheet" href="../../public/css/clearfix.css">

    <!-- reset the border and padding of the web page -->
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/reset.css">


    <!-- font icon from free website "fontawesome" -->
    <link rel="stylesheet" href="../../public/css/font_icon6/css/all.css">


    <link rel="stylesheet" href="../../public/css/patient_gradientBackgroud.css">
    <link rel="stylesheet" href="../../public/css/patient_resetpassword.css">

    <link rel="icon" href="../../favicon.ico">

</head>

<body>
    <div class="gradientBackgroud">
        <div class="returnbutton">
            <a href="./personal_detail.html">
                <b>
                    <i class="fas fa-angle-left"></i>
                </b>
            </a>
        </div>
        <div class="logo">
            <a href="./patient_homepage.html">
                <b>
                    Diabetes@Home
                </b>
            </a>
        </div>
        <div class="colorscheme">
            <!-- change customer light mode and dark mode -->
            <a href="">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
        </div>
        <div class="resetfail">
            Your current password or comfirm password is wrong
        </div>
        <form action="" method="post" class="dark">
            <div class="currentPassword">
                Current Password
                <input type="password" required>
                New Password
                <input type="password" placeholder="Least 8 characters" required>
                Confirm Password
                <input type="password" placeholder="Enter again" required>
                <!-- Verification Code
                <input class="verify" type="number" placeholder="4 digits" required>
                <input class="sendcode" type="button" value="Send Code"> -->
                <input class="save" type="submit" value="Save">
            </div>
        </form>
    </div>
</body>

</html>